<ion-header>
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onForgotPass(f)">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input
          required
          ngModel
          name="email"
          type="email"
          placeholder="Your email here"
        ></ion-input>
      </ion-item>
    </ion-list>
    <section text-center>
      <ion-button size="medium" [disabled]="!f.valid" type="submit">OK</ion-button>
      <ion-button size="medium" fill='outline' color='danger' (click)='onCancel()'>Cancel</ion-button>
    </section>
  </form>
</ion-content>
